<%- include('partials/header'); -%>

<h1> <%= postTitle %> </h1>

<p> <%= postText %> </p>


<form action="/delete" method="post">
  <button type="submit" class="btn btn-danger" value="<%=postId%>" name="button">Delete Post</button>
</form>


<%- include('partials/footer'); -%>
